#credit {
  background-color: black;
}
#credit .container {
  width: 1280px;
  margin: 0 auto;
}
#credit h2 {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
#credit .actor-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 44px;
  margin-top: 35px;
}
#credit .actor-box li {
  color: white;
}
#credit .actor-box li .actor-img {
  overflow: hidden;
  max-height: 350px;
}
#credit .actor-box li .actor-img img {
  width: 100%;
  object-fit: cover;
}
#credit .actor-box li .actor-info {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  gap: 7px;
}
#credit .actor-box li .actor-info .casting {
  font-weight: 700;
}
#credit .actor-box li .actor-info .actor-name {
  font-weight: 200;
}

#review {
  background-color: black;
  padding: 60px 0;
}

#review h3 {
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 25px;
}

#review .container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#review input {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  height: 50px;
  margin: 10px;

  font-size: 16px;
}

#review button {
  font-size: 16px;
}

#review #reviewForm {
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#review #nickname {
  width: 130px;
}

#review #password {
  width: 130px;
}

#review #commentText {
  width: 870px;
}

#review #reviewBtn {
  width: 90px;
  height: 55px;
  background-color: #0f214e;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#review .review-box {
  width: 1280px;
  color: white;
  list-style-type: none;
}

#review li {
  width: 1280px;
  display: grid;
  grid-template-columns: 130px 1100px 10px;
  font-size: 16px;
  margin: 20px;
}

#review .removeBtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  #review .container {
    width: 90%;
  }

  #review #reviewForm {
    width: 90%;
  }

  #review #nickname {
    width: 20%;
  }

  #review #password {
    width: 20%;
  }

  #review #reviewBox {
    width: 90%;
  }

  #review li {
    width: 90%;
    display: grid;
    grid-template-columns: 15% 90% 1%;
  }
}
