<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./header.css">
  <title>EYESMOVIE</title>
</head>

<body>
  <header>
    <div class="container">
      <h1 class="logo">EYESMOVIE</h1>
      <form id="search">
        <input id="searchBar" type="text" placeholder="검색어를 입력하세요">
        <input id="searchBtn" type="submit" value="">
      </form>
  </div>
  </header>
</body>
</html>